.card-footer {
  border-top: 1px solid #9999;
  padding: 0;
}

.product-card {
    border: 1px solid #9999;
}

.product-card-details {
  margin: 10px;
}

.card-img {
    height: 300px;
    object-fit: cover;
}

.card-footer button {
    cursor: pointer;
}

h5 {
  margin-bottom: 2%;
}

button {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  height: 2.5em;
  color: white;
}