<div *ngIf="product && product.title" class="product-card">
  <img *ngIf="product.imageUrl" class="card-img" [src]="product.imageUrl" alt="{{ product.imageUrl }} ">
  <div class="product-card-details">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'USD' }}</p>
  </div>

  <div *ngIf="showActions" class="card-footer">
    <button *ngIf="quantity === 0; else updateQuantity" (click)="addToCart()">
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>