<div class="main-container">
  <div class="category-list">
    <product-filter [activeCategory]="category"></product-filter>
  </div>

  <div class="content-section">
    <div class="shop-items">
      <div *ngFor="let p of filteredProducts; let i = index" class="shop-item">
        <product-card [product]="p" [shoppingCart]="cart$ | async"></product-card>
      </div>
    </div>

    <button *ngIf="this.filteredProducts.length < this.totalElements && !isLoadedByCategory" type="button" 
      (click)="loadMore()" class="btn-load">LOAD MORE
    </button>
  </div>
  
</div>