.main-container {
  display: flex;
  flex-wrap: wrap;
}

.category-list {
  margin: 30px 0 0 120px;
  width: 250px;
}

.content-section {
  width: 80%;
  flex-grow: 1;
  flex-basis: 0;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-item {
  margin: 30px 20px;
  width: 300px;
}

.btn-load {
  width: 130px;
  height: 50px;
  border-radius: 12px;
  display: block;
  margin: auto;
  margin-bottom: 3%;
  background-color: darkcyan;
  color: white;
}