<div class="container">
  <div class="header">
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
    <span>
      <input #query (keyup)="filter(query.value)" type="text" class="form-control search"
        placeholder="Search...">
    </span>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Title
          <fa-icon *ngIf="titleSortUp; else sortTitleDown" [icon]="faArrowUp" (click)="sortByTitle()"></fa-icon>
          <ng-template #sortTitleDown>
            <fa-icon [icon]="faArrowDown" (click)="sortByTitle()"></fa-icon>
          </ng-template>
        </th>
        <th>Price
          <fa-icon *ngIf="priceSortUp; else sortPriceDown" [icon]="faArrowUp" (click)="sortByPrice()"></fa-icon>
          <ng-template #sortPriceDown>
            <fa-icon [icon]="faArrowDown" (click)="sortByPrice()"></fa-icon>
          </ng-template>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProducts">
        <td class="title">{{ p.title }}</td>
        <td>{{ p.price | currency:'USD'}}</td>
        <td>
          <a [routerLink]="['/admin/products/', p.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="products" class="page-info">
    <button *ngIf="numberOfLoadedProducts > productsPerPage" class="buttons" (click)="leftButton()"> 
      < 
    </button>
    <span>{{ numberOfLoadedProducts }} / {{ products.length }}</span>
    <button 
      *ngIf="numberOfLoadedProducts && numberOfLoadedProducts < products.length && numberOfLoadedProducts%productsPerPage === 0"
      class="buttons" (click)="rightButton()"> 
      >
    </button>
    <span style="float: right;">{{ page + 1 }} </span>
  </div>
</div>