.search {
    width: 30%;
    float: right;
}

.header {
    margin-bottom: 3%;
    margin-top: 4%;
}

.page-info {
  text-align: center;
}

.title {
  width: 50%;
}

.buttons {
  margin: 1.5%;
  border-radius: 25%;
  background-color: darkcyan;
  color: white;
  font-size: 150%;
  width: 4%;
  min-width: 30px;
}