<nav class="navbar bg-light">
  <a class="navbar-brand" routerLink="">
    <fa-icon [icon]="faHome"></fa-icon>
  </a>

  <a class="nav-link" routerLink="shopping-cart">
    <fa-icon [icon]="faCart"></fa-icon>
    <span class="badge rounded-pill bg-warning text-dark">
      {{ cart.totalItemsCount }}
    </span>
  </a>

  <div class="user">
    <ng-template #anonymousUser>
        <a class="nav-link" routerLink="user/login">Login</a>
        <a class="nav-link" routerLink="user/register">Register</a>
    </ng-template>

    <div ngbDropdown *ngIf="authService.isLogedIn; else anonymousUser" class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{ authService.currentUser.name }}
      </a>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="user/orders">My Orders</a></li>
        <ng-container *ngIf="authService.isLogedIn && authService.currentUser.isAdmin">
          <li><a class="dropdown-item" routerLink="admin/orders">Manage Orders</a></li>
          <li><a class="dropdown-item" routerLink="admin/products">Manage Products</a></li>
        </ng-container>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
  
</nav>