.navbar { 
  border-bottom: 3px solid #e7e7e7;
  margin-bottom: 2%;
}

.navbar-brand {
  padding-left: 1%;
  color: var(--primary-color);
}

.navbar-brand:hover {
  color: var(--primary-color-hover);
}

a {
  cursor: pointer;
}

.user {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  margin-left: 20px;
}
