.flex-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.content {
  max-width: 350px;
}

label {
  margin-top: 22px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=checkbox] {
  float: right;
  transform: scale(2);
  margin-top: 26px;
}

.form-footer {
  border-top: 1px solid #f1f1f1;
  margin-top: 25px;
  padding-top: 25px;
}

.registerbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.5;
}

.registerbtn:active {
  opacity: 0.5;
}

.validbtn {
  cursor: pointer;
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}