 <div class="flex-container">
  <form (ngSubmit)="register()" [formGroup]="form">
    <div class="content">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      
      <label for="name"><b>Name</b></label>
      <input formControlName="name" type="text" id="name" placeholder="Enter your name">
      <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
        Name cannot contain space or any special charaters.
      </div>
      
      <label for="email"><b>Email</b></label>
      <input formControlName="email" type="text" id="email" placeholder="example@domain.com">
      <div *ngIf="email.touched && email.errors?.['pattern']" class="alert alert-danger">
        Invalid email.
      </div>
      <div *ngIf="email.touched && email.errors?.['emailTaken']" class="alert alert-danger">
        Email already exists!
      </div>

      <label for="password"><b>Password</b></label>
      <input formControlName="password" type="password" id="password" placeholder="Enter Password">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          Password must contain at least one number, one uppercase and lowercase letter, at least 8 or more characters and cannot start with space.
      </div>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input formControlName="confirmPassword" type="password" id="psw-repeat" placeholder="Repeat Password">
      <div *ngIf="password.valid && confirmPassword.touched && form.errors?.['passwordsDontMatch']" class="alert alert-danger">
        Passwords do not match!
      </div>
      
      <label for="admin"><b>Admin</b></label>
      <input formControlName="isAdmin" type="checkbox" id="isAdmin">
  
      <p class="form-footer">By creating an account you agree to our <a routerLink="/">Terms & Privacy</a>.</p>
      <button 
        type="submit" class="registerbtn" 
        [disabled]="!form.valid" 
        [class.validbtn]="form.valid">
        Register
      </button>
  
      <div class="signin">
        <p>Already have an account? <a routerLink="/user/login">Sign in</a>.</p>
      </div>
    </div>
  </form>
</div>