<div class="container">
  <h1>Shopping Cart</h1>
  
  <div class="header">
    <ng-container *ngIf="cart">
      <p>
        You have <span *ngIf="cart" class="fw-bold">{{ cart.totalItemsCount }}</span> items in your shopping cart.
        <button *ngIf="cart && cart.totalItemsCount" (click)="clearCart()" class="btn bg-light float-end">
          Clear Shopping Cart
        </button>
      </p>
    </ng-container>
  </div>
  
  <section *ngIf="cart && cart.items && cart.items.length" class="container content-section">
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">PRODUCT</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
    </div>
  
    <div>
      <div class="cart-row" *ngFor="let item of cart.items">
        <div class="cart-item cart-column">
          <img [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="cart-item-image">
          <span class="cart-item-title">{{ item.product.title }}</span>
        </div>
        <div class="cart-quantity cart-column">
          <product-quantity [product]="item.product" [shoppingCart]="cart"></product-quantity>
        </div>
        <span class="cart-price cart-column">{{ item.totalPrice | currency:'USD' }}</span>
      </div>
    </div>
  
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <span class="cart-total-price">{{ cart.totalPrice | currency:'USD' }}</span>
    </div>
  
    <button *ngIf="cart && cart.items" routerLink="/shopping-cart/check-out" class="btn btn-primary btn-check-out">
      Check Out
    </button>
  </section>
</div>