.header {
    width: 70%;
    min-width: 500px;
    margin-bottom: 2%;
}

.container {
  max-width: 70%;
  min-width: 500px;
}

.content-section {
  margin: 1em;
}

.cart-row {
  display: flex;
  border-bottom: 1px solid #9999;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-item {
  width: 45%;
}

.cart-quantity {
  width: 35%;
  justify-content: center;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
  justify-content: flex-end;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-check-out {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
