<div class="container">
  <div class="row" *ngIf="this.product">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save()">
  
        <div class="form-group">
          <label for="title">Title</label>
          <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control"
            required minlength="3">
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title with minimum length {{ title.errors?.['minlength'].requiredLength }} is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control"
              required min="0.1">
          </div>
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            Minimum price is {{ price.errors?.['min'].min }}
          </div>
        </div>
  
        <div class="form-group">
          <label for="category">Category</label>
          <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" type="text"
            class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories$ | async" [value]="c.name">
              {{ c.name }}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required
          </div>
        </div>
  
        <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <input [(ngModel)]="product.imageUrl" #imageUrl="ngModel" name="imageUrl" id="imageUrl" type="url"
            class="form-control" required pattern="https?://.+">
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid && imageUrl.hasError">
            Valid image URL is required
          </div>
        </div>
  
        <div class="buttons">
          <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
          <button *ngIf="this.id" [disabled]="!f.valid" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  
    <div class="col-md-6">
      <product-card [product]="product" [showActions]="false"></product-card>
    </div>
    
  </div>
</div>