<div>
    <div class="list-group">
        <a class="list-group-item list-group-item-action"
            [class.active]="!activeCategory"
            routerLink="/"
            >All Categories
        </a>
        <a
            *ngFor="let c of categories$ | async"
            routerLink="/" [queryParams]="{category: c.name}"
            [class.active]="activeCategory === c.name"
            class="list-group-item list-group-item-action">
            {{ c.name }}
        </a>
    </div>
</div>


