<div class="container">
  <h1>Orders</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td>{{ order.shippingAddress.name }}</td>
        <td>{{ order.datePlaced | date}}</td>
        <td>
          <a routerLink="/">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>