<div class="container">
  <h1>Orders</h1>
  <table class="table" *ngIf="(orders$ | async)?.length; else noorders">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td>{{ order.shippingAddress.name }}</td>
        <td>{{ order.datePlaced | date }}</td>
        <td>
          <a href="#">View</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #noorders>
    <p>You dont have any orders.</p>
  </ng-template>
</div>