.btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-quantity {
  margin: 0 1em; 
}

.btn-default {
  width: 2.5em;
  height: 2.5em; 
  text-align: center;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}


.btn-remove {
  color: white;
  background-color: #EB5757;
}

.btn-remove:hover {
  background-color: #CC4C4C;
}

.btn-add {
  color: white;
  background-color: lightgreen;
}

.btn-add:hover {
  background-color: lightseagreen;
}