<div class="btn-row">
  <button (click)="removeFromCart()" class="btn-default btn-remove">-</button>
  <div *ngIf="shoppingCart && quantity" class="btn-quantity">
    {{ quantity }}
  </div>
  <button (click)="addToCart()" class="btn-default btn-add">+</button>
</div>