<form #f="ngForm">

  <div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.invalid">Name is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="addressLine1">Address</label>
    <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text"
      class="form-control" placeholder="Line 1" required>
    <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
      <div *ngIf="addressLine1.invalid">Address Line 1 is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="addressLine2"></label>
    <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text"
      class="form-control" placeholder="Line 2" required>
    <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
      <div *ngIf="addressLine2.invalid">Address Line 2 is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
      <div *ngIf="city.invalid">City is required.</div>
    </div>
  </div>
  
  <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary margin">Place Order</button>
</form>