<div class="card">
  <div *ngIf="cart" class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">
      You have <b>{{ cart.totalItemsCount }}</b> items in your shopping cart.
    </p>

    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} x {{ item.product.title }}
        <div class="float-end">
          {{ item.totalPrice | currency:'USD' }}
        </div>
      </li>

      <li class="list-group-item fw-bold">
        Total
        <div class="float-end">
          {{ cart.totalPrice | currency:'USD' }}
        </div>
      </li>
    </ul>

  </div>
</div>