@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr';

:root {
    --primary-color: #c1d62e;
    --primary-color-hover: #b1c522;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 1;
}
  
.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}
  
.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}