.flex-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.content {
  max-width: 350px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-header {
  margin-bottom: 40px;
}

.form-footer {
  border-top: 1px solid #f1f1f1;
  margin-top: 25px;
  padding-top: 25px;
}

.signinbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.5;
}

.validbtn {
  cursor: pointer;
  opacity: 1;
}

a {
  color: dodgerblue;
}

.register {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}