<div class="flex-container">
  <form (ngSubmit)="login()" [formGroup]="form">
    <div class="content">
      <div class="form-header">
        <h1>Login</h1>
        <p>Please fill in this form to log in.</p>
      </div>

      <label for="email"><b>Email</b></label>
      <input formControlName="email" type="text" placeholder="Enter Email">

      <label for="password"><b>Password</b></label>
      <input formControlName="password" type="password" placeholder="Enter Password">

      <div class="alert alert-danger" *ngIf="form.errors" @fade>
        Wrong email or password!
      </div>

      <div class="form-footer">
        <p>By creating an account you agree to our <a routerLink="">Terms & Privacy</a>.</p>
        <button type="submit" [disabled]="!form.valid" class="signinbtn" [class.validbtn]="form.valid">Sign in</button>
  
        <div class="register">
          <p>Don't have an account? <a routerLink="/user/register">Register</a>.</p>
        </div>
      </div>

    </div>
  </form>
</div>